RewriteEngine on

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.* - [L]
RewriteRule (\w*)/(\w*)/?(.*) start.php?controller=$1&action=$2&$3 [QSA,L]
RewriteRule (\w*)/?(.*) start.php?controller=$1&action=&$2 [QSA,L]

