body			{font-family:Lato, Arial, sans-serif;font-size:0.9em;color:black;line-height:1.5em;width:99%;}
h1			{font-size:16px;}
th			{border:1px solid white;}
td			{vertical-align:top;}
textarea		{width: 400px; height:100px;}
input[type='image']	{top:2px;position:relative;}
input[name='country'], 
input[name='qq']	{top:-2px;position:relative;}
table			{border:1px solid gray;border-radius:4px;font-size:0.9em;margin-top:10px;clear:both;background-color:#f0f0f0;width:100%;border-right:3px solid #f0f0f0;}
table tr:nth-child(even)
			{background-color:white;}
#statusBar		{width:100%;text-align:right;background-color:white;}
#menuBar a.bolditalic	{font-size:0.9em;font-style:italic;font-weight:bold;}
#menuBar		{min-height:1.7em;float:left;background-color:#f0f0f0;padding-left:10px;padding-right:10px;width:98%;border:1px solid gray; border-right:3px solid #f0f0f0; border-radius: 4px;}
#menuBar a:visited, 
#menuBar a:link,
#menuBar a:active	{color:red;}
a:visited,
a:link,
a:active		{color:red;}
#events			{margin-top:10px;}
div {border:opx solid red;}
a img			{vertical-align:middle;}
a.black:visited,
a.black:link,
a.black:active		{color:black;}
td.picture		{text-align:center;}
.profilePicture		{height: 3em; margin-top:5px;}
.tacenter		{text-align:center;}
.floatright		{float:right;}
.floatleft		{float:left;}
.bold			{font-weight:bold;}
.italic			{font-style:italic;}
.inlineForm		{display:inline;float:right;}
.history_col, 
.actions_col		{width:10%;}
.time_col		{width:5%;}
.date_col		{width:5%;}
.selected_row		{width:2%;}
.pros_message		{width: 40%;}
.pros_name		{width: 10%;}
.data_type		{width:	5%;}
.version		{font-size:10px;margin-right:0px;}
.red			{color:green;}
